
.map_address {
  margin-top: 64px;
  margin-bottom: 160px;
}
.map-container {
  width: 100%;
  height: 500px;
  position: relative;
}

.map-container iframe {
  border-radius: 40px;
  width: 100%;
  height: 100%;
  border: none;
}
.mapContent {
  position: absolute;
  left: 33%;
  top: 30%;
  width: 370px;
  height: 230px;
  background-color: #0f0f0f;
  border-radius: 10px;
  padding: 30px;
  color: white;
}
.mapContent__text {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.mapContent h4 {
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
}
.mapContent__text img {
  width: 25px;
  height: 25px;
  margin-right: 13px;
}

.map_address .mapContent__text span {
  font-weight: 400;
  font-size: 28.0139px;
  line-height: 33px;

  color: #ffffff;
}
 .mapContent__text .mapContent__tel  {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;
}
.map_address__img iframe{
  height: 300px;
  width: 100%;
  border-radius: 30px;
}
.map_address__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 128px;
  align-items: center;
}

@media(max-width: 769px) {
  .mapContent  {
    left: 20%;
    top: 20%;
  }
  .map-container {
    height: 400px;
  }
  .map_address__grid {
    gap: 0 30px;
}
}
@media(max-width: 550px) {
  .map_address__grid {
    grid-template-columns: repeat(1,1fr);
  }
  .map_address {
    margin-top: 60px;
  }
  .mapContent {
    position: static;
    margin: 0 auto 20px;
  }
  .map-container {
    height: 100%;
  }
  
}
@media(max-width: 425px) {
  .mapContent {
    width: 327px;
  }
  
}