.pricingCard h2 {
  text-align: center;
}
.pricingCard__wrapper {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.pricingCardItem {
  display: flex;
  flex-direction: column;
  
}
.pricingCardItem:nth-of-type(2n+1) {
  border-radius: 10px;
  background: #0f0f0f;
}
.pricingCardItem:nth-of-type(2n+1) .pickup_btn {
  display: none;
}
.pricingCardItem:nth-of-type(2n) .tel_btn {
  display: none;
}
.pricingCardItem h4 {
  border-bottom: 1px solid #252525;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.2px;
  padding: 30px;
}
.pricingCardItem__img {
  height: 154px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-grow: 1; */
}

.pricingCardItem ul {
  padding: 0 30px 0 10px;
  /* height: 510px; */
  border-bottom: 1px solid #252525;
  flex-grow: 1;

}
.pricingCardItem a {
  color: #00aeef;
  text-align: center;
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.2px;
  padding: 36px  0 38px;
}
.pricingCardItem ul li {
  margin-left: 30px;
  list-style: disc;
  color: #adadad;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.2px;
}

@media(max-width:1100px) {
  .pricingCardItem h4  {
    padding: 20px;
    font-size: 16px;
  }
}
@media(max-width:900px) {
  .pricingCard__wrapper {
   
    grid-template-columns: repeat(3, 1fr);
  
  }
}
@media(max-width:600px) {
  .pricingCard__wrapper {
   
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  
  }
}
@media(max-width:600px) {
  .pricingCard__wrapper {
   
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  
  }
  .pricingCardItem h4  {
    padding:0 20px;
    font-size: 18px;
    text-align: center;
  }
  .pricingCardItem a {
    padding: 15px 0;
  }
}