.dryers {
  margin-top: 100px;
}
.dryers h2 {
  text-align: center;
  margin-bottom: 50px;
}
.dryers__card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 23px;
}
.dryers__card {
  padding: 20px;
  background-color: #0f0f0f;
  border-radius: 10px;
}
.dryers__card img {
  border-radius: 10px;
  width: 100%;
}
.dryers__card h4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 20px 0 15px;
}
.dryers__card p {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.2px;

  color: #919191;
}

@media(max-width:769px) {
  .dryers__card h4 {
    font-size: 20px;
  }
  .dryers__card p {
    font-size: 16px;
  }
  .dryers__card {
    padding: 10px;
  }
}
@media(max-width:600px) {

  .dryers__card-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap:  20px 0;
}


  .dryers__card h4 {
    font-size: 30px;
  }
  .dryers__card p {
    font-size: 20px;
  }
  .dryers__card {
    padding: 20px;
  }
}