.hero {
  display: flex;
}
.hero h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__image {
  width: 750px;
  height: 450px;
  position: absolute;
  right: 0%;
  top: 114px;
}
.hero__image img {
  width: 100%;
  height: 100%;
  border-radius: 50px 0 0 50px;
}
.hero__content {
  width: 600px;
  margin-top: 62px;
}
.hero__content h4 {
  margin-top: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #919191;
}
.hero__cta {
  margin-top: 50px;
  display: flex;
}
.btn {
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.04px;
  text-transform: uppercase;
  color: #ffffff;
}
.btn--primary {
  width: 250px;
  height: 60px;

  margin-right: 20px;
  background-color: var(--primary-color);
}
.btn--secondary {
  width: 199px;
  height: 60px;
  background-color: var(--secondary-color);
}


@media (max-width: 1440px) {
  .hero__content {
    width: 600px;
  }
}
@media (max-width: 1150px) {
  .hero__content {
    width: 600px;
  }
  .hero__image {
    width: 584px;
    height: 382px;
  }
}
@media (max-width: 1024px) {
  .hero__image {
    width: 500px;
    height: 335px;
}
  .hero__content {
    width: 600px;
  }
  .btn--primary {
    width: 170px;
    height: 50px;
  }
  .btn--secondary {
    width: 140px;
    height: 50px;
  }
  .btn {
    font-size: 14px;
  }
}
@media (max-width: 880px) {
  .hero__content {
    width: 300px;
  }
  .hero__image {
    width: 440px;
    height: 300px;
}
}
@media (max-width: 769px) {
  .hero__content h4 {
    text-align: center;
  }
  .breadcrumbs {
    display: none;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px 0;
  }
  .hero__content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__image {
    width: 100%;
    height: auto;
    position: static;
   
}
/* .hero h1 {
  font-size: 30px;
} */
}
