* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00aeef;
  --secondary-color: #f7941d;
  --primary-font: "Rubik";
}
body {
  background-color: #000000;
  font-family: var(--primary-font);
  color: white;
}
h2,
.h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffffff;
}
h3,
.h3 {
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  text-transform: uppercase;
  color: #ffffff;
}
p,
.p {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.2px;

  color: #909090;
}


li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1170px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media(max-width:1024px) {
  h2, .h2 {
    font-size: 35px;
    line-height: 50px;
}
h3, .h3 {
  font-size: 40px;
  line-height: 40px;
}
}
@media(max-width:768px) {
  p, .p {
    font-size: 16px;
  }
}

@media(max-width:425px) {
  h2, .h2 {
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}
h3, .h3 {
  font-size: 25px;
  line-height: 30px;
}
p, .p {
  font-size: 16px;
}
}