.aboutBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 30px;
  margin-bottom: 50px;
  margin-top: 100px;
}
.imageWithText:nth-of-type(2n+1) .aboutBanner{
  flex-direction: row-reverse;
}
.pricing__image__text__banner .aboutBanner {
  display: flex;
  align-items:normal;
  margin-top: 62px;
}

.aboutBanner__text h2 {
  margin-bottom: 20px;
}
.aboutBanner__img img {
  width: 600px;
  height: auto;
  border-radius: 30px;
}
.aboutBanner__text ul {
  margin-top: 15px;
}
.aboutBanner__text li {
  margin-left: 40px;
  margin-bottom: 10px;
  list-style-type: disc;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.2px;

  color: #ffffff;
}
.aboutBanner__text li::marker {
  color: #909090;
}


@media (max-width: 1024px) {
  .aboutBanner__img img {
    width: 500px;
    height: 350px;
  }
  .imageWithText:nth-of-type(2n+1) .aboutBanner .aboutBanner__img img {
    width: 500px;
    height: 350px;
  }
}
@media (max-width: 900px) {
  .aboutBanner__img img {
    width: 450px;
    height: 330px;
  }
  .imageWithText:nth-of-type(2n+1) .aboutBanner  .aboutBanner__img img {
    width: 450px;
    height: 330px;
  }
  .aboutBanner__text p {
    font-size: 15px;
  }
  .aboutBanner__text h2 {
    font-size: 30px;
  }
  .aboutBanner {
    gap: 0 30px;
  }
}
@media (max-width: 768px) {
  .aboutBanner__img img {
    width: 400px;
    height: 300px;
  }
  .imageWithText:nth-of-type(2n+1) .aboutBanner .aboutBanner__img img {
    width: 400px;
    height: 300px;
  }
  
  .aboutBanner {
    gap: 0 20px;
  }
}
@media (max-width: 769px) {
  .aboutBanner {
    flex-direction: column;
  }
  .imageWithText:nth-of-type(2n+1)  .aboutBanner {
    flex-direction: column;
  }
  .aboutBanner__text p {
    font-size: 15px;
    text-align: center;
  }
  .aboutBanner__text h2 {
    font-size: 30px;
    text-align: center;
  }
  .aboutBanner__img img {
    width: 100%;
    height: auto;
    margin-top: 15px;
}
.imageWithText:nth-of-type(2n+1) .aboutBanner .aboutBanner__img img {
    width: 100%;
    height: auto;
    margin-top: 15px;
}
}
