.washAndFold .hero__content {
  width: 500px;
  margin-top: 62px;
}

.washAndFold .aboutBanner {
  margin-top: 0;
}
@media (max-width:600px) {
  .washAndFold .hero__content {
    width: 350px;
    margin-top: 62px;
  }
}