.footer__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.nav__item {
  margin-left: 38px;
}

.nav__link::after {
  content: "";
  width: 20px;
  height: 3px;
  display: block;
}
.nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.274286px;
  color: #ffffff;
}
.nav__item:nth-of-type(1) {
  margin-left: 0;
}

.active {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.274286px;
  color: var(--primary-color);
}
.navbar .active::after {
  content: "";
  width: 20px;
  height: 3px;
  background-color: var(--primary-color);
  display: block;
}
.home_navbar .active::after {
  content: "";
  width: 20px;
  height: 3px;
  background-color: var(--primary-color);
  display: block;
}
.child__list {
  margin-left: 15px;
}
.footer__rights {
  background-color: #0f0f0f;
}
.footer__rights_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f0f0f;
  padding: 25px 0;
}
.footer__rights p {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
}
.footer__rights p span {
  font-weight: 700;
}
.footer__logo {
  width: 300px;
}
.footer__logo .accessibility_policy {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: start;
  color: #ffffff;
  transition: 300ms;

}
.footer__logo .accessibility_policy:hover {
  color: var(--primary-color);
  transition: 300ms;
}
.footer__logo_wrapper {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.footer__logo p {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: start;
  color: #ffffff;
  margin-left: 9px;
}
.footer__logo p .rgm {
  color: var(--primary-color);
  font-weight: 400;
  margin-left: 8px;
}
.fixed_btn {
  display: none;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
.fixed_btn a {
  padding: 10px ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_pickup {
  background-color: #00aeef;
  color: white;
}
.btn_call {
  background-color: white;
  color: #00aeef;
}

@media (max-width: 700px) {
  .footer__nav {
    display: none;
  }
}
@media (max-width: 600px) {
  .footer__rights_wrapper {
    flex-direction: column;
  }
  .footer__logo {
    margin-top: 20px;
  }
  .fixed_btn {
    display: grid;
  }
}
