.card h4 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 240% */
}
.card p {
  color: #909090;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.2px;
  max-height: 52px;
  overflow: hidden;
}
.card img {
  border-radius: 30px;
}
.card a {
  width: 250px;
  height: 60px;
  border-radius: 5px;
  background: #00aeef;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px; /* 100% */
  letter-spacing: -0.04px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  transition: 300ms;
  border: 1px solid transparent;
}
.card a:hover {
  transition: 300ms;
  border: 1px solid #00aeef;
  background-color: transparent;
  color: #00aeef;

}
.blog_card__wrapper {
  margin-top: 62px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 22px;
  align-items: center;
  justify-content: center;
}
